
/* #choiceContainer{
    margin-bottom: 50px;
}

#loadingContainer{
    margin-bottom: 50px;
} */

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url("../images/rock\,_paper_larger.jpg");
    background-size: 40%;
}

/* This only changes this particular animation duration */
.animate__animated.animate__backInLeft {
    --animate-duration: 5s;
  }

.animate__animated.animate__backInRight {
    --animate-duration: 8s;
  }

.jumbotron{
    margin-top: 50px;
    background-color: white;
    animation-duration: 2s; /* don't forget to set a duration! */
}

.row{
    margin: 10px;
}